.modal {
    // display: none;
    background-color: rgba(0, 0, 0, 0.42);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    overflow: auto;

    &__window {
        position: absolute;
        height: auto;
        background: var(--white);
        border-radius: 8px;
        box-sizing: border-box;
        padding: 53px 98px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        font-size: 1.75rem;
        line-height: 121%;
        color: var(--black);
        margin-bottom: 35px;
    }
    &__content {
        font-weight: 400;
        line-height: 150%;
        color: var(--black);
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex-basis: 362px;
    }

    &__image {
        background-color: var(--white);

        & p {
            font-size: 0.875rem;
            line-height: 133%;
            font-weight: 700;
            margin: 0;
            margin-bottom: 12px;
            text-align: center;
            color: var(--grey);

            & span {
                color: var(--red);
            }
        }

        & svg {
            width: 37px;
            height: 37px;
            border-radius: 50%;
            position: absolute;
            right: 15%;
        }

        & img {
            width: 162px;
            height: 162px;
            border-radius: 60%;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__select {
        margin-bottom: 32px;
        position: relative;

        & select {
            display: block;
            padding-top: 22px;
            padding-left: 16px;
            padding-bottom: 8px;
            padding-right: 0;
            border: 1px solid var(--white-2);
            border-radius: 2px;
            width: 100%;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-image: url("../../img/select.svg");
            background-repeat: no-repeat, repeat;
            background-position: right 0.7em top 50%, 0 0;
            background-size: 1em auto, 100%;
            &::-ms-expand {
                display: none;
            }
            & option {
                font-family: $main-front;
            }
        }
    }
}
