.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.42);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    overflow: auto;

    &__window {
        position: absolute;
        height: auto;
        background: var(--white);
        border-radius: 8px;
        box-sizing: border-box;
        padding: 53px 98px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        font-size: 1.75rem;
        line-height: 121%;
        color: var(--black);
        margin-bottom: 35px;
    }
    &__content {
        font-weight: 400;
        line-height: 150%;
        color: var(--black);
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        gap: 32px;
        margin-bottom: 32px;
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex-basis: 362px;
    }
    &__icon {
        width: 37px;
        height: 37px;
        border-radius: 50%;
        position: absolute;
        right: -10%;
        z-index: 5;
    }

    &__image {
        background-color: var(--white);
        position: relative;

        & p {
            font-size: 0.875rem;
            line-height: 133%;
            font-weight: 700;
            margin: 0;
            margin-bottom: 12px;
            text-align: center;
            color: var(--grey);

            & span {
                color: var(--red);
            }
        }

        & img {
            width: 162px;
            height: 162px;
            border-radius: 50%;
            position: absolute;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__select {
        margin-bottom: 32px;
        position: relative;

        & select {
            padding-top: 22px;
            padding-left: 16px;
            padding-bottom: 8px;
            padding-right: 0;
            border: 1px solid var(--white-2);
            border-radius: 2px;
            width: 100%;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAH2AAAB9gHM/csYAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAEtQTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA16y2cwAAABh0Uk5TAAEMDxEZHSUtMklekJKWrbW+2Obq7/3+58/N7wAAANpJREFUWMPtzEsWgjAUBNFGBZSPoKL0/lfqxCMfk/A6ehyl5reAVCr1s/anXQzbnfYAgKIf+ehylefdg2NfAIcbSXI4av44kCRvB7RkxOHlyRZXRhzenlfcqR8mzzsulA8zzwsqqoe5ZwU04mHhGwDZWTos/DmDenB46eD0wsHjzQevNx4C3nQIesNhw28eNv3GweCDB5MPHIzeezB7z0HwzoPkHQfRfxxkvz7ofnWI8L6D3bsPincdNP95UP36oPvlIcbPD3F+OsR6APVADjW+KCvLDKlU6h89ARE0R09dBLf6AAAAAElFTkSuQmCC");
            background-repeat: no-repeat, repeat;
            background-position: right 15px top 50%, 0 0;
            background-size: 13px auto, 100%;
            &::-ms-expand {
                display: none;
            }
            & option {
                font-family: $main-front;
            }
        }
    }
    &__form {
        & input {
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }

        & label {
            font-size: 18.67px;
            line-height: 116%;
            position: absolute;
            z-index: 2;
            color: var(--white);
            top: 55%;
            left: 60%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover {
                text-decoration: underline;
            }

            & span {
                display: block;
            }

            & svg {
                display: block;
                width: 30px;
                height: 30px;
                padding-bottom: 7px;
            }
        }
    }
}
