@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@800&family=PT+Sans:wght@400;700&display=swap");
:root {
  --white: #ffffff;
  --white-2: #d6dade;
  --black: #0c1014;
  --pink: #e5266e;
  --blue: #0848c0;
  --grey: #6a6e72;
  --red: #d90000;
}

html,
body {
  font-family: "PT Sans", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-size: 16px;
  background-color: var(--white);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page__box {
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 1040px) {
  .page__box {
    padding: 0 16px;
  }
}

.main {
  flex: 1;
}

.modal {
  background-color: rgba(0, 0, 0, 0.42);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  overflow: auto;
}
.modal__window {
  position: absolute;
  height: auto;
  background: var(--white);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 53px 98px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 121%;
  color: var(--black);
  margin-bottom: 35px;
}
.modal__content {
  font-weight: 400;
  line-height: 150%;
  color: var(--black);
  display: flex;
  flex-direction: column;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.modal__group {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-basis: 362px;
}
.modal__image {
  background-color: var(--white);
}
.modal__image p {
  font-size: 0.875rem;
  line-height: 133%;
  font-weight: 700;
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  color: var(--grey);
}
.modal__image p span {
  color: var(--red);
}
.modal__image svg {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  position: absolute;
  right: 15%;
}
.modal__image img {
  width: 162px;
  height: 162px;
  border-radius: 60%;
}
.modal__body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.modal__select {
  margin-bottom: 32px;
  position: relative;
}
.modal__select select {
  display: block;
  padding-top: 22px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 0;
  border: 1px solid var(--white-2);
  border-radius: 2px;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../../img/select.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 1em auto, 100%;
}
.modal__select select::-ms-expand {
  display: none;
}
.modal__select select option {
  font-family: "PT Sans", sans-serif;
}

.text-group {
  position: relative;
}
.text-group__label {
  color: var(--grey);
  font-size: 0.75rem;
  line-height: 133%;
  position: absolute;
  top: 8px;
  left: 16px;
  z-index: 12;
}
.text-group__label span {
  color: var(--red);
  font-size: 0.75rem;
  line-height: 133%;
}
.text-group__input {
  display: inline-flex;
  position: relative;
  width: 100%;
}
.text-group__input > input {
  padding-top: 22px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 0;
  border: 1px solid var(--white-2);
  border-radius: 2px;
  width: 100%;
}
.text-group__global {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.text-group__vk {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.text-group__facebook {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.text-group__info {
  display: inline-flex;
  position: relative;
  width: 100%;
}
.text-group__info > input {
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  padding-right: 0;
  border: 1px solid var(--white-2);
  border-radius: 2px;
  width: 100%;
}
.text-group__select {
  width: 16px;
  height: 23px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.button__submit {
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 182px;
  padding-right: 182px;
  font-family: "Lato", sans-serif;
  line-height: 112%;
  color: var(--white);
  background-color: var(--pink);
  border-radius: 4px;
  border: 1px solid var(--pink);
  margin-top: 50px;
  margin-bottom: 15px;
  white-space: nowrap;
}
.button__cancel {
  line-height: 150%;
  color: var(--blue);
  background-color: var(--white);
  border: 0;
}

/*# sourceMappingURL=index.css.map */
