@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@800&family=PT+Sans:wght@400;700&display=swap");
:root {
  --white: #ffffff;
  --white-2: #d6dade;
  --black: #0c1014;
  --pink: #e5266e;
  --blue: #0848c0;
  --grey: #6a6e72;
  --red: #d90000;
}

html,
body {
  font-family: "PT Sans", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-size: 16px;
  background-color: var(--white);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page__box {
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 1040px) {
  .page__box {
    padding: 0 16px;
  }
}

.main {
  flex: 1;
}

.footer__tags {
  display: flex;
  gap: 15px;
  width: 50%;
  flex-wrap: wrap;
}
.footer__tag {
  background-color: var(--blue);
  font-size: 14px;
  text-align: center;
  color: var(--white);
  border: 1px solid var(--blue);
  padding: 5px 10px;
}

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.42);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow: hidden;
  overflow-y: auto;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.modal__window {
  background: var(--white);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 53px 98px;
  margin: auto;
  max-width: 90%;
}
@media screen and (max-width: 460px) {
  .modal__window {
    padding: 20px 25px;
  }
}
@media screen and (max-width: 575px) and (min-width: 461px) {
  .modal__window {
    padding: 30px 60px;
  }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  .modal__window {
    padding: 40px 65px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .modal__window {
    padding: 45px 75px;
  }
}
.modal__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 121%;
  color: var(--black);
  margin-bottom: 35px;
}
.modal__content {
  font-weight: 400;
  line-height: 150%;
  color: var(--black);
  display: flex;
  flex-direction: column;
}
.modal__header {
  display: flex;
  gap: 30px;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .modal__header {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .modal__header {
    gap: 10px;
  }
}
.modal__group {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-basis: 362px;
}
@media screen and (max-width: 767px) {
  .modal__group {
    flex: 1 0 auto;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .modal__group {
    margin-right: 15px;
    flex: 1 0 auto;
  }
}
.modal__icon {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  position: absolute;
  right: -10%;
  z-index: 5;
}
@media screen and (max-width: 361px) and (min-width: 320px) {
  .modal__icon {
    right: 22%;
  }
}
@media screen and (max-width: 767px) and (min-width: 362px) {
  .modal__icon {
    right: 30%;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .modal__icon {
    right: 5%;
  }
}
.modal__hint {
  font-size: 0.875rem;
  line-height: 133%;
  font-weight: 700;
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  color: var(--grey);
}
.modal__hint span {
  color: var(--red);
}
.modal__image {
  background-color: var(--white);
  position: relative;
}
.modal__image img {
  width: 162px;
  height: 162px;
  border-radius: 50%;
  position: absolute;
}
@media screen and (max-width: 767px) {
  .modal__image img {
    display: block;
    margin: 0 auto;
    position: static;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .modal__image img {
    width: 130px;
    height: 130px;
  }
}
.modal__body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.modal__select {
  margin-bottom: 32px;
  position: relative;
}
.modal__select select {
  padding-top: 22px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 0;
  border: 1px solid var(--white-2);
  border-radius: 2px;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAH2AAAB9gHM/csYAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAEtQTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA16y2cwAAABh0Uk5TAAEMDxEZHSUtMklekJKWrbW+2Obq7/3+58/N7wAAANpJREFUWMPtzEsWgjAUBNFGBZSPoKL0/lfqxCMfk/A6ehyl5reAVCr1s/anXQzbnfYAgKIf+ehylefdg2NfAIcbSXI4av44kCRvB7RkxOHlyRZXRhzenlfcqR8mzzsulA8zzwsqqoe5ZwU04mHhGwDZWTos/DmDenB46eD0wsHjzQevNx4C3nQIesNhw28eNv3GweCDB5MPHIzeezB7z0HwzoPkHQfRfxxkvz7ofnWI8L6D3bsPincdNP95UP36oPvlIcbPD3F+OsR6APVADjW+KCvLDKlU6h89ARE0R09dBLf6AAAAAElFTkSuQmCC");
  background-repeat: no-repeat, repeat;
  background-position: right 15px top 50%, 0 0;
  background-size: 13px auto, 100%;
}
.modal__select select::-ms-expand {
  display: none;
}
.modal__select select option {
  font-family: "PT Sans", sans-serif;
}
.modal__form input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.modal__file {
  font-size: 18.67px;
  line-height: 116%;
  position: absolute;
  z-index: 2;
  color: var(--white);
  top: 55%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .modal__file {
    top: 60%;
    left: 50%;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .modal__file {
    left: 50%;
    top: 50%;
  }
}
.modal__file:hover {
  text-decoration: underline;
}
.modal__file span {
  display: block;
}
.modal__file svg {
  display: block;
  width: 30px;
  height: 30px;
  padding-bottom: 7px;
}
.modal__error {
  margin: 0;
  font-size: 14px;
  color: var(--red);
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .modal__error {
    text-align: center;
  }
}

.text-group {
  position: relative;
}
.text-group__label {
  color: var(--grey);
  font-size: 0.75rem;
  line-height: 133%;
  position: absolute;
  top: 8px;
  left: 16px;
  z-index: 12;
}
.text-group__label span {
  color: var(--red);
  font-size: 0.75rem;
  line-height: 133%;
}
.text-group__input {
  display: inline-flex;
  position: relative;
  width: 100%;
}
.text-group__input > input {
  padding-top: 22px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 16px;
  border: 1px solid var(--white-2);
  border-radius: 2px;
  width: 100%;
}
.text-group__global {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.text-group__vk {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.text-group__facebook {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.text-group__info {
  display: inline-flex;
  position: relative;
  width: 100%;
}
.text-group__info > input {
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  padding-right: 0;
  border: 1px solid var(--white-2);
  border-radius: 2px;
  width: 100%;
}

input[type=file]:required:valid ~ p {
  opacity: 0;
}

input[type=url] {
  padding-right: 38px;
  text-overflow: ellipsis;
}

input[type=text] {
  padding-right: 38px;
  text-overflow: ellipsis;
}

.button__submit {
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 182px;
  padding-right: 182px;
  font-family: "Lato", sans-serif;
  line-height: 112%;
  color: var(--white);
  background-color: var(--pink);
  border-radius: 4px;
  border: 1px solid var(--pink);
  margin-top: 50px;
  margin-bottom: 15px;
  white-space: nowrap;
  min-width: 100%;
}
@media screen and (max-width: 767px) {
  .button__submit {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .button__submit {
    padding-left: 90px;
    padding-right: 90px;
  }
}
.button__cancel {
  line-height: 150%;
  color: var(--blue);
  background-color: var(--white);
  border: 0;
}
.button__main {
  width: 147px;
  height: 48px;
  line-height: 112%;
  font-weight: 600;
  color: var(--pink);
  border: 1px solid var(--pink);
  border-radius: 4px;
  font-family: "Lato";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__title {
  text-align: center;
  font-size: 36px;
}

/*# sourceMappingURL=index.css.map */
